.main_container{
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title{
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 17px;
  margin-left: 10px;
  text-align: start;
  width: 100%;
}